/*@import url(http://fonts.googleapis.com/css?family=Roboto:100, 300);*/
/*Imports google fonts. I like font-weight: 100, but would like to see
 *Font-weight:400 for the body. 
 */
 
 /*font-size configuration:
  *information gained from: http://snook.ca/archives/html_and_css/font-size-with-rem
  */

.container{
	width:1200px;
}

hr{
	margin-top:22px;
	width: 50%;
}

ul li{
	display: inline;
}
nav a:link{
	text-decoration: none;
	color:black;
}

nav a:visited {
	text-decoration: none;
	color:black;
}

nav a:hover{
	text-decoration: underline;
	color: black;
}

nav a:active{
	text-decoration: none;
	color: black;
}

footer a:link{
	text-decoration: none;
	color: black;
}

footer a:hover {
	text-decoration: underline;
	color: black;
}

footer a:visited {
	text-decoration: none;
	color: black;  
}

footer a:active{
	text-decoration: none;
	color: black;
}